# Terraform ignores
.infrastructure/.terraform
.infrastructure/.terraform.lock.hcl
.infrastructure/*.tfstate
.infrastructure/*.backup

# Ignore SPN login script
spn-login.sh

# iac-prerequisites
iac-prerequisites

# General files
tmp.json